{
  "parser": "babel-eslint",
  "extends": "dustinspecker/esnext",
  rules: {
    'arrow-parens': 0,
    complexity: 0,
    'func-style': 0,
    'max-len': [2, 220],
    'newline-per-chained-call': 0,
    'no-param-reassign': 0,
    'no-useless-escape': 0,
    operator: 0,
    'operator-linebreak': 0,
    'prefer-reflect': 0,
    'prefer-rest-params': 0,
    'prefer-const': 0,
    'prefer-template': 0,
    semi: [2, 'always']
  }
}
