{
  "parser": "babel-eslint",
  "extends": "dustinspecker/esnext",
  rules: {
    'arrow-parens': 0,
    complexity: 0,
    'max-len': [2, 220],
    'newline-per-chained-call': 0,
    'no-param-reassign': 0,
    'prefer-template': 0,
    semi: [2, 'always']
  }
}
