link(rel='import', href='../polymer/polymer.html')

polymer-element(name='<%= elementName %>')
  template
    link(rel='stylesheet', href='<%= elementName %>.css')
    div {{name}}

  script(src='<%= elementName %>.js')