{
  "extends": [
    "angular",
    "dustinspecker<% if (appScript === 'es6' || testScript === 'es6') { %>/esnext<% } %>"
  ],
  "rules": {
    "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"],
    "consistent-this": 0
  }
}
