{
  "env": {
    "node": true
  },
  "globals": {
    "angular": true
  },
  "plugins": [
    "angular"
  ],
  "rules": {
    "angular/ng_angularelement": [2, true],
    "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"],
    "angular/ng_definedundefined": [2, true],
    "angular/ng_di": [2, "function"],
    "angular/ng_directive_name": [],
    "angular/ng_document_service": [2, true],
    "angular/ng_empty_controller": [2, true],
    "angular/ng_filter_name": [],
    "angular/ng_interval_service": [2, true],
    "angular/ng_json_functions": [2, true],
    "angular/ng_module_name": [],
    "angular/ng_no_digest": [2, true],
    "angular/ng_no_jquery_angularelement": [2, true],
    "angular/ng_no_private_call": [2, true],
    "angular/ng_no_services": [2, ["$http", "$resource", "Restangular"]],
    "angular/ng_no_service_method": [],
    "angular/ng_on_watch": [2, true],
    "angular/ng_service_name": [],
    "angular/ng_timeout_service": [2, true],
    "angular/ng_typecheck_array": [2, true],
    "angular/ng_typecheck_boolean": [2, true],
    "angular/ng_typecheck_date": [2, true],
    "angular/ng_typecheck_function": [2, true],
    "angular/ng_typecheck_number": [2, true],
    "angular/ng_typecheck_object": [2, true],
    "angular/ng_typecheck_regexp": [2, true],
    "angular/ng_typecheck_string": [2, true],
    "angular/ng_window_service": [2, true],
    "block-scoped-var": [2, true],
    "brace-style": [2, "1tbs", {"allowSingleLine": false}],
    "camelcase": [2, true],
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {
      "after": true,
      "before": false
    }],
    "comma-style": [],
    "complexity": [2, 17],
    "consistent-return": [2, true],
    "consistent-this": [],
    "curly": [2, true],
    "default-case": [2, true],
    "dot-notation": [2, true],
    "eqeqeq": [2, true],
    "eol-last": [2, true],
    "func-names": [],
    "func-style": [2, "declaration"],
    "guard-for-in": [2, true],
    "handle-callback-err": [2, true],
    "indent": [2, 2, {"indentSwitchCase": true}],
    "key-spacing": [2, {
      "afterColon": true,
      "beforeColon": false
    }],
    "max-nested-callbacks": [2, 5],
    "new-cap": [2, {
      "capIsNew": true,
      "newIsCap": true
    }],
    "new-parens": [2, true],
    "no-alert": [2, true],
    "no-array-constructor": [2, true],
    "no-caller": [2, true],
    "no-catch-shadow": [2, true],
    "no-cond-assign": "always",
    "no-constant-condition": [2, true],
    "no-control-regex": [2, true],
    "no-debugger": [2, true],
    "no-delete-var": [2, true],
    "no-div-regex": [2, true],
    "no-dupe-args": [2, true],
    "no-dupe-keys": [2, true],
    "no-else-return": [2, true],
    "no-empty": [2, true],
    "no-empty-class": [2, true],
    "no-empty-label": [2, true],
    "no-eq-null": [2, true],
    "no-eval": [2, true],
    "no-ex-assign": [2, true],
    "no-extend-native": [2, true],
    "no-extra-bind": [2, true],
    "no-extra-boolean-cast": [2, true],
    "no-extra-parens": [],
    "no-extra-semi": [2, true],
    "no-fallthrough": [2, true],
    "no-floating-decimal": [2, true],
    "no-func-assign": [2, true],
    "no-implied-eval": [2, true],
    "no-inline-comments": [2, true],
    "no-inner-declarations": [2, true],
    "no-invalid-regexp": [2, true],
    "no-irregular-whitespace": [2, true],
    "no-iterator": [2, true],
    "no-label-var": [2, true],
    "no-labels": [2, true],
    "no-lone-blocks": [2, true],
    "no-lonely-if": [2, true],
    "no-loop-func": [2, true],
    "no-mixed-requires": false,
    "no-mixed-spaces-and-tabs": [2, true],
    "no-multi-spaces": [2, true],
    "no-multi-str": [2, true],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-native-reassign": [2, true],
    "no-negated-in-lhs": [2, true],
    "no-nested-ternary": [2, true],
    "no-new": [2, true],
    "no-new-func": [2, true],
    "no-new-object": [2, true],
    "no-new-require": [2, true],
    "no-new-wrappers": [2, true],
    "no-obj-calls": [2, true],
    "no-octal": [2, true],
    "no-octal-escape": [2, true],
    "no-path-concat": [2, true],
    "no-process-env": [2, true],
    "no-process-exit": [2, true],
    "no-proto": [2, true],
    "no-redeclare": [2, true],
    "no-regex-spaces": [2, true],
    "no-restricted-modules": [2],
    "no-return-assign": [2, true],
    "no-script-url": [2, true],
    "no-self-compare": [2, true],
    "no-sequences": [2, true],
    "no-shadow": [2, true],
    "no-shadow-restricted-names": [2, true],
    "no-space-before-semi": [2, true],
    "no-spaced-func": [2, true],
    "no-sparse-arrays": [2, true],
    "no-sync": [],
    "no-ternary": [],
    "no-throw-literal": [2, true],
    "no-trailing-spaces": [2, true],
    "no-undef": [2, true],
    "no-undef-init": [2, true],
    "no-undefined": [],
    "no-underscore-dangle": [2, true],
    "no-unreachable": [2, true],
    "no-unused-expressions": [2, true],
    "no-unused-vars": [2, {
      "args": "after-used",
      "vars": "all"
    }],
    "no-use-before-define": [2, "nofunc"],
    "no-void": [2, true],
    "no-warning-comments": [2, {
      "location": "anywhere",
      "terms": [
        "fixme",
        "todo",
        "xxx"
      ]
    }],
    "no-with": [2, true],
    "no-wrap-func": [2, true],
    "one-var": [2, true],
    "operator-assignment": [2, "always"],
    "padded-blocks": [2, "never"],
    "quote-props": [2, "as-needed"],
    "quotes": "single",
    "radix": [2, true],
    "semi": [2, true],
    "semi-spacing": [2, {
      "after": true,
      "before": false
    }],
    "sort-vars": [],
    "space-after-function-name": [2, false],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-parentheses": [2, {
      "anonymous": "always",
      "named": "never"
    }],
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": [2, "always"],
    "space-return-throw-case": [2, true],
    "space-unary-ops": [2, {
      "nonwords": false,
      "words": true
    }],
    "spaced-line-comment": [2, "always"],
    "strict": "global",
    "use-isnan": [2, true],
    "valid-jsdoc": [2, {
      "requireParamDescription": true,
      "requireReturn": false,
      "requireReturnDescription": true
    }],
    "valid-typeof": [2, true],
    "vars-on-top": [2, true],
    "wrap-iife": [2, "outside"],
    "wrap-regex": [2, "always"],
    "yoda": [2, "never"]
  }
}
