!!! 5
%html{lang: "en", data-ng-app: "<%= appName %>"}
  %head
    %title <%= appName %>
    %meta{name: "viewport", content: "width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"}
    <!-- inject:head:js -->
    <!-- endinject -->
    <!-- inject:html -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  %body

    <div data-ui-view></div>

    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:angular:js -->
    <!-- endinject -->